@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  :root {
    --header-row-height: 44px;
    --header-height: calc(var(--header-row-height) * 2);
    --hero-height: calc(100svh - var(--header-height));
  }
}

/* .myMinusMargin {
  margin-top: calc((-12.5vh - (25vw * (16 / 9) / 320)));
  margin-top: calc((-100vh - (60vw / 320)));
  margin-top: calc((-100vh - (60 * (9 / 16))) / 2);
} */

/* .growOver {
  background: red;
} */

.fontRoboto {
  font-family: "Roboto", serif;
}
